@use 'sass:color';
@use '../../variables' as var;

.card {
  width: 40rem;
  min-height: 50rem;
  padding: 3rem;
  
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 0.8rem 2.4rem rgba(34, 35, 68, 0.1);
  position: relative;
  overflow: hidden;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  text-align: center;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1.2rem 3.2rem rgba(34, 35, 68, 0.3);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.6rem;
    background: linear-gradient(90deg,var.$dark-blue-background, var.$light-blue, var.$red, var.$dark-yellow, var.$button-text);
  }
}

.header {
  margin-bottom: 2rem;
}

.title {
  font-size: 2.2rem;
  color: var.$light-blue;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 1.5rem; 
  color: var.$input-text;
  margin: 0.5rem 0;
}

.productName {
  font-size: 1.5rem;
  color: var.$input-text;
  margin-top: 0;
  margin-bottom: 2rem;
}

.rate {
  font-size: 6.8rem; 
  font-weight: 800; 
  color: var.$dark-blue-background; 
  margin: 2rem 0;
}

.button {
  width: 100%;
  padding: 1.4rem;
  border: 0.1rem solid var.$primary-link;
  border-radius: 5rem;
  
  background-color: transparent;
  color: var.$primary-link;
  
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;

  margin-top: auto;

  &:hover {
    transform: scale(1.03);
    background-color: color.adjust(var.$light-blue, $lightness: -8%);
    color: var.$button-text;
  }
}