@use '../../variables' as var;

.navbar {
  background-color: #ffffff;
  width: 100%;
  padding: 1.6rem 0;
  border-bottom: 0.1rem solid #e0e0e0;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.container {
  margin: 0 auto;
  padding: 0 2.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;

  img {
    height: 3.5rem;
    display: block;
  }
}

.navLinks {
  .link {
    font-family: var.$font-family;
    color: var.$heading-color;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.6rem;
    transition: color 0.2s ease, background-color 0.2s ease;

    &:hover {
      color: var.$primary-link-dark;
    }

    &.active {
      color: var.$primary-link;
      background-color: rgba(var.$primary-link, 0.08);
    }
  }
}