$nesto-red: #e91207;
$nesto-dark-yellow: #ffcd05;
$nesto-light-yellow: #fff2c0;
$nesto-light-blue: #3d66b0;
$nesto-dark-blue: #3d66b0;
$dark-blue-background: #222344;
$button-text: #ffffff;
$primary-link: #3c64af;
$submit-text: #3c64af;
$primary-link-dark: #345798;
$secondary-link: #345798;
$input-text: #666666;
$heading-color: #222344;
$font-family: Montserrat, system-ui, Arial, Helvetica, sans-serif, "sans-serif";